// card sect
.cardsBox {
    display: flex;
    border-bottom: white 1px solid;
    cursor: pointer;
}

.imgBox {
    width: 20rem;
    height: 12rem;
}

.cardShade {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.314);
}

.cardTitle {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    text-align: center;
}

.cardDate {
    color: #48B2FF;
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 73%;
    padding: 1rem;
}

// more section

.moreBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}

.moreTitle {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

// media query

@media (max-width: 1156px) {
    .cardTitle {
        font-size: 2.3rem;
    }
    .cardDate {
        font-size: 1.4rem;
    }
}

@media (max-width: 722px) {
    .cardShade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .imgBox {
        width: 100%;
    }
}

@media (max-width: 428px) {
    .cardTitle {
        font-size: 2rem;
    }
}