.footerBox {
    width: 100%;
    margin-top: 5rem;
    text-align: center;
    background-color: black;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerTitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

// media query

@media (max-width: 428px) {
    .footerBox {
        height: 4rem;
    }
    .footerTitle {
        font-size: .9rem;
        padding: 1rem;
    }
}
@media (max-width: 390px) {
    .footerTitle {
        font-size: .8rem;
    }
}