.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emailInput {
    width: 40vw;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    margin-bottom: 2rem;
    padding: .5rem;
    background-color: #D9D9D9E3;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.textArea {
    width: 50vw;
    height: 20rem;
    border-radius: 1rem;
    padding: .5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border: none;
    resize: none;
    outline: none;
    background-color: #D9D9D9E3;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.button {
    width: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.4rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;
    background-color: #D9D9D9E3;
    border-radius: 8px;
    border: black;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    cursor: pointer;
}

.emailInput:focus::placeholder {
    color: transparent;
}

.textArea:focus::placeholder {
    color: transparent;
}

.thanks {
    width: 100%;
    height: 29.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanksWords {
    font-size: 2rem;
    color: #D9D9D9E3;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 0 1rem 0 1rem;
}

@media (max-width: 428px) {
    .textArea {
        width: 85vw;
        font-size: 1rem;
    }
    .emailInput {
        width: 70vw;
        font-size: 1rem;
    }
    .button {
        margin-top: 2rem;
    }
}