.videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: white;
    width: 86%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}



.playerSize {
    width: 100%;
}

.videosGallery {
    width: 100%;
    cursor: grab;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 14rem);
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    scroll-behavior: smooth;
}
.left {
    display: none;
}
.right {
   display: none;
}
.videoImg {
    width: 20rem;
    cursor: pointer;
    
}

.videoTitle{
    font-size: 1rem;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

// media query 

@media (max-width: 1060px) {
    .white {
        width: 100%;
        background-color: #181818;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 0 1rem 0;
        .videoTitle {
            color: #eaeaea;
        }
        .videosGallery {
            margin-top: 3rem;
            padding-right: .5rem;
            padding-left: .5rem;
            grid-template-rows: repeat(3, 13rem);
        }
    }
    .videoImg {
        width: 13rem;
    }
}

@media (max-width: 428px){
    .left {
        display: block;
        color: #aeaeae;
        left: 0;
        bottom: 15rem;
        position: absolute;
        font-size: 2rem;
        z-index: 1;
    }
    .right {
        display: block;
        color: #aeaeae;
        position: absolute;
        bottom: 15rem;
        right: 0;
        font-size: 2rem;
        z-index: 1;
    }
}

@media (max-height: 903px){
    .right, .left {
        bottom: 13rem
    }
}
@media (max-height: 875px){
    .right, .left {
        bottom: 12rem
    }
}
@media (max-height: 851px){
    .right, .left {
        bottom: 10rem
    }
}
@media (max-height: 823px){
    .right, .left {
        bottom: 8rem
    }
}
@media (max-height: 793px){
    .right, .left {
        bottom: 6rem
    }
}
@media (max-height: 746px){
    .right, .left {
        bottom: 4rem
    }
}
@media (max-height: 712px){
    .right, .left {
        bottom: 2rem
    }
}
@media (max-height: 681px){
    .right, .left {
        bottom: 0rem
    }
}

